
/* Гибкость контента */
.dashboard-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dashboard-content .loader {
    position: absolute;
    width: 12px;
    height: 12px;
}

.filters-container {
    background: var(--chart-bg);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.chart-container {
    flex-grow: 1;
    background: var(--chart-bg);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Стилизация чекбоксов */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox-label input[type='checkbox'] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox-label input[type='checkbox']:checked {
    background-color: var(--checkbox-bg);
    border-color: var(--checkbox-bg);
}

/* Стилизация дат */
.date-input {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
}

.date-input:focus {
    border-color: var(--checkbox-bg);
}

/* Темная тема тултипа */
.recharts-tooltip-wrapper {
    background: var(--chart-bg) !important;
    color: var(--text-color) !important;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start; /* Ставим кнопки в начало */
    margin: 10px 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 5px;
    scroll-padding-left: 10px; /* Смещение первой кнопки вправо */
    -webkit-overflow-scrolling: touch; /* Улучшение плавности прокрутки на iOS */
}
/* Скрытие скроллбара в Webkit-браузерах (Chrome, Safari) */
.filter-buttons::-webkit-scrollbar {
    display: none;
}

/* Дополнительно: Отключаем перенос кнопок */
.filter-button {
    flex: 0 0 auto; /* Не сжимается и не растягивается */
    background: var(--bg-color);
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    min-width: 70px;
    font-size: 16px;
    color: var(--text-color);
    transition: background 0.3s;
}

.filter-button:hover {
    background: var(--bg-color-3);
}

.filter-button:hover {
    background: var(--bg-color-3);
}

.filter-button.active {
    background: var(--bg-color-2);
    font-weight: bold;
    border: 1px solid var(--border-color-2);
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .dashboard-content {
      flex-direction: column;
    }
  }
  

  @media (prefers-color-scheme: dark) {

  }