.forecast-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    position: relative;
    align-items: center;
    cursor: grab; /* Курсор "захвата" при наведении */
  }

  .forecast-container:active {
    cursor: grabbing; /* Курсор "захвачено" при клике */
  }

  .forecast-day {
    font-weight: bold;
    font-size: 26px;
    position: sticky;
    left: 0px;
    background-color: var(--bg-color); /* Фон, чтобы текст не накладывался на другие элементы */
    z-index: 1; /* Чтобы текст был поверх других элементов */
    padding: 50px 20px; /* Отступ для разделения дней */
    align-content: center;
    
    -webkit-box-shadow: 10px 0px 6px -5px rgba(30, 30, 30, 0.5);
    -moz-box-shadow:    10px 0px 6px -5px rgba(30, 30, 30, 0.5);
    box-shadow:         10px 0px 6px -5px rgba(30, 30, 30, 0.5);

    writing-mode: sideways-lr;
    
  }
  
  .forecast-card {
    flex: 0 0 auto;
    width: 140px;
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(135deg, var(--chart-bg), var(--bg-color-2));
    color: var(--text-color);
    text-align: center;
    min-width: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 5px 0;
    user-select: none;
  }
  
  .forecast-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  .forecast-date {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  .forecast-temp {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .forecast-pressure,
  .forecast-wind {
    font-size: 14px;
  }