:root {
  color-scheme: light dark;
  --bg-color: #f4f4f4;
  --bg-color-2: #e9e9e9;
  --bg-color-3: #e4e4e4;
  --text-color: #333;
  --chart-bg: #fff;
  --border-color: #ddd;
  --border-color-2: #ccc;
  --checkbox-bg: #007bff;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --bg-color-2: #2a2a2a;
  --bg-color-3: #3a3a3a;
  --text-color: #ffffff;
  --chart-bg: #2a2a2a;
  --border-color: #444;
  --border-color-2: #555;
  --checkbox-bg: #ff9800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

/* Основные стили контейнера */
.dashboard-container {
  font-family: 'Arial', sans-serif;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
}

/* Светлая тема (по умолчанию) */
input[type="datetime-local"] {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
